<!DOCTYPE html>
<html>
    <head>
        <title>Todo List Details</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ list_details.name }}</h1>
                <p>
                    <a href="{% url "todo_list_update" list_details.id%}">Edit</a>
                    <a href="{% url "todo_list_delete" list_details.id%}">Delete</a>
                </p>
                <h2>Tasks</h2>
                    <table>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr
                        {% for item in list_details.items.all %}>
                        <tr>
                            <td><a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </table>
            </div>
        </main>

    </body>
</html>
